html{
    background-color: #F7F6F5;
   
}
body{
    margin: 0px;
    padding: 3px;

}
.container{
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 20px;
}
/**cabeçalho**/
.cabecalho{
    background-color: #1382cd;
    border-radius: 10px;
}
h1{
    display: inline-block;
    text-align: center;
    margin-bottom: 12px;
    color: #fff;
}
ul{
    margin: 0px;
}
.menu_pesquisa li {
    margin-top: 12px;
    text-align: center;
    display: inline-block;
    height: 10px;;
}
.menu_pesquisa{
    border-radius: 10px;
    height: 50px;
    background-color:#9abff7 ;
 
}
.opcoes_menu{
    width:300px;
    
}
input{
    border-radius: 15px;
    margin-left: 80px;
    height: 20px;
}
/**conteudo principal da pagina**/
.foto_manga_info {
    width:260px;
    height: 160px;
    border-radius: 15px;
    margin: 5px;
    margin-left: 110px;
    display: inline-block;
}
.nome_img {
    width:260px;
    height: 160px;
    margin-left: 110px;
    display:inline-block; 
}
.roda_pe{
    height: 226px;
    background-color: #1382cd;
    border-radius: 15px;
}
